.astronaut-animation {
    animation: astronaut-animation linear 3s infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes astronaut-animation {
    0% {
        transform: rotate(0deg) translate(-15px, 15px);
    }
    25% {
        transform: rotate(-15deg) translate(-30px, 0px);
    }
    50% {
        transform: rotate(-20deg) translate(-50px, 15px);
    }
    75% {
        transform: rotate(-15deg) translate(-55px, -5px);
    }
    100% {
        transform: rotate(0deg) translate(-15px, 15px);
    }
}

.first-cloud-animation {
    animation: first-cloud-animation ease-in-out 3s infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes first-cloud-animation {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-3px, 10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.second-cloud-animation {
    animation: second-cloud-animation ease-in 3s infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes second-cloud-animation {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.wave-animation {
    animation: wave-animation ease-in-out 3s infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes wave-animation {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 15px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
